<h1>Welcome to Acme Commerce</h1>
<h4><%= link_to 'Orders', orders_path %></h4>

<table>
  <thead>
    <tr>
      <th>Nome do Produto</th>
      <th>Quantidade Vendida</th>
    </tr>
  </thead>

  <tbody>
      <% @products_list.each do |produto, qtd| %>
      <tr>
        <td><%="#{produto}" %></td>
        <td style="text-align:center"><%= "#{qtd}" %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

